<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>2026-07-01 10:24:44 UTC</string>
	<key>CFBundleShortVersionString</key>
	<string>0.7.0</string>
	<key>CFBundleVersion</key>
	<string>170</string>
	<key>CommitHash</key>
	<string>b17c39f</string>
</dict>
</plist>
