<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildDate</key>
	<string>2026-07-27 03:23:09 UTC</string>
	<key>CFBundleShortVersionString</key>
	<string>0.9.2</string>
	<key>CFBundleVersion</key>
	<string>202</string>
	<key>CommitHash</key>
	<string>bcfcf9e</string>
</dict>
</plist>
